{% extends 'index.html' %}
{% load static %}
{% load widget_tweaks %}

{% block conteudo %}
<!--content-->
<div class=" container">
	<div class=" register">
		<h1>Gêneros</h1>
		<form method="POST">
			{% csrf_token %}
			<div class="col-md-6 register-top-grid">
				<h3>cadastrar gênero:</h3>
				
				<div>
					
					{{ form.genero | add_class:"form-control" }}
				</div>

				<div>
					<button type="submit" class="btn btn-primary btn-lg" id="sendMessageButton">Salvar</button>
				</div>
			</div>
		</form>
	</div>
</div>
		
{% endblock conteudo %}
