<!--A Design by W3layouts 
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->

{% extends 'index.html' %}
{% load static %}
{% load widget_tweaks %}

<!DOCTYPE html>
<html>

{% block conteudo %}

	<style type="text/css">
	
.produtos {
	font-family: sans-serif;
	text-align: center;
	font-weight: 600;
	font-size: 25px;
	color: white;
}

.centro {
	text-align: center;
	padding: 15px;
	margin-top: 50px;
	background-color: orange;
	border: none;
	border-radius: 25px
}

.botao {
	text-align: right;
	padding-left: 60px
}

.baixar {
	margin-top: 50px;

}

	</style>	

		<div class="container"> 
		  <div class="col-md-6 cart-total">
		  	<h2 class="baixar"> Gêneros </h2>

			 
			 {% for genero in lista_generos %}
			 {{ genero.genero }} <p class="botao"><a href="{% url 'genero_editar' genero.id %}"><button type="button" class="produtos centro">Editar</button></a></p> <p class="botao"><a href="{% url 'genero_remover' genero.id %}"><button type="button" class="produtos centro">Excluir</button></a></p>
			</br>

			 {% empty %}
			 
			 <h2 class=""> Nenhum gênero cadastrado </h2>


			 {% endfor %}

			 <p class="botao"><a href="{% url 'genero_cadastrar' %}"><button type="button" class="produtos centro">Cadastrar Gênero</button></a></p>
			</div>
		
	 </div>

{% endblock %}

<!--//content-->

			