{% extends 'index.html' %}
{% load static %}
{% load widget_tweaks %}

{% block conteudo %}

<div class=" container">
	<div class=" register">
		<h1>Livros</h1>
		<form method="POST" enctype="multipart/form-data">
			{% csrf_token %}
			<div class="col-md-6 register-top-grid">
				<h3>cadastrar livro:</h3>
				
				<div>
					<p> Título: {{ form.titulo | add_class:"form-control" }} </p>
					<p> Autor: {{ form.autor | add_class:"form-control" }} </p>
					<p> Gênero: {{ form.generoFK | add_class:"form-control" }} </p>
					<p> Isbn: {{ form.isbn | add_class:"form-control" }} </p>
					<p> Capa: {{ form.capa | add_class:"form-control" }} </p>
					<p> Preço: {{ form.preco | add_class:"form-control" }} </p>
				</div>

				<div>
					<button type="submit" class="btn btn-primary btn-lg" id="sendMessageButton">Salvar</button>
				</div>
			</div>
		</form>
	</div>
</div>
		
{% endblock conteudo %}		