<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
{% extends 'index.html' %}

{% load static %}
{% load widget_tweaks %}

{% block conteudo %}

<style>
.centralizado{
	text-align: center;
}

.pDeBaixo{
	text-align: center;
	font-size: 20px;
	font-family: Ubuntu;
	margin-top: 10px;
	font-size: 20px
}

.aDeBaixo {
	color: white;
	background-color: orange;
	padding: 5px;
	padding-left: 20px;
	padding-right: 20px;
	border: none;
	border-radius: 25px;
}
.aDeBaixo:hover{
	color: white;
	font-size: 23px;
	font-weight: bolder;
	text-decoration: none;
	transition: 0.5s;
}

.separarRodape{	margin-bottom: 75px; }
.separarMenu{ margin-top: 50px }

</style>

<div class="container separarMenu separarRodape">
	<div class="row">
		{# -------------------------------------------------------------------------------------------- #}
		{% for livro in lista_livros %}
		<div class="col-md-3">
			<p class="centralizado">
				<a href="{% url 'livro_detalhes' %}">
					<img src="/media/{{ livro.capa }}" alt="Imagem" width="150px" height="200px">
				</a>
			</p>
			<p class="centralizado pDeBaixo">
				<a href="{% url 'livro_detalhes' %}" class="aDeBaixo">
					<span>Compre agora</span>
				</a>
			</p>
		</div>
		{% empty %}
		<h2 class=""> Nenhum livro cadastrado </h2>

		{% endfor %}

	</div>
</div>

<!---->
{% endblock conteudo %}
<!--//content-->
