<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->

{% extends 'index.html' %}

{% load static %}
{% load widget_tweaks %}


{% block conteudo %}
<!--content-->
<style>
.esquerda{
	text-align: left
}

.separarRodapeETopo{
	margin-bottom: 40px;
	margin-top: 50px
}

.descerInfo{
	margin-top: 40px
}

.infoTit{
	font-size: 45px;
	font-family: Ubuntu;
	font-weight: bolder;
	letter-spacing: 1px;
	color: black;
	margin-bottom: 25px;
}

.infoTex{
	font-size: 30px;
	font-family: Ubuntu;
	font-weight: 600;
	color: black
}

.infor{
	font-size: 30px;
	font-family: Ubuntu;
	font-weight: 100;
	color: black
}

</style>

<div class="container separarRodapeETopo">
	<div class="row">
		<div class="col-md-5 col-lg-5 col-xg-5">
			<p class="">
				<img src="/media/{{ liv.capa }}" alt="Capa do livro {{ liv.titulo }}" height="400xp" with="auto">
			</p>
		</div>
		<div class="col-md-7 col-lg-7 col-xg-7 esquerda descerInfo afastar">
			<h2 class="infoTit">Informações sobre o livro</h2>
			<p class="infoTex">Título: <label class="infor"> {{ liv.titulo }} </label> </p>
			<p class="infoTex">Autor: <label class="infor"> {{ liv.autor }} </label> </p>
			<p class="infoTex">Gênero: <label class="infor"> {{ gen.genero }} </label>	</p>
			<p class="infoTex">ISBN: <label class="infor"> {{ liv.isbn }} </label> </p>
			<p class="infoTex">Preço: <label class="infor"> {{ liv.preco }} </label> </p>
		</div>
	</div>
</div>

{% endblock %}
